<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Stock Detail Data 관련 SQL -->
<mapper namespace="com.stock.detail.StockDetailMapper">
	
	<!-- stock_code에 해당하는 1개의 주식 정보 SELECT -->
	<select id="selectStockByCode" parameterType="string" resultType="com.stock.detail.dto.StockInfoDto">
		select stock_code, company_name, cartegory as category, product, public_day, closing_month, representative, homepage, region from stock_list
		where stock_code = #{stock_code}
	</select>
	
	<!-- 모든 주식 종목의 정보 SELECT  -->
	<select id="selectAllStock" resultType="com.stock.detail.dto.StockDto">
		SELECT stock_code, company_name, cartegory as category, product FROM stock_list
	</select>
	
	<!-- 수정 필요 -->
	<select id="selectStockByDate" parameterType="string" resultType="com.stock.detail.dto.StockDataDto">
		SELECT stock_date, open_price, high_price, low_price, close_price FROM stock_data
		WHERE stock_code=#{stock_code} AND stock_date 
			BETWEEN DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -3 MONTH), "%Y%m%d") AND DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -2 MONTH), "%Y%m%d");
	</select>
	
	<update id="updateViewCnt" parameterType="String">
		UPDATE stock_list
		SET view_cnt = view_cnt + 1
		WHERE stock_code = #{stock_code}
	</update>
	
</mapper>