<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Stock Debut Data 관련 SQL -->
<mapper namespace="com.stock.recommend.StockRecommendMapper">
	
	<select id="selectAllWishAndHolding" resultType="int">
		SELECT COUNT(stock_code)
		FROM (
			SELECT DISTINCT stock_code FROM my_list
			UNION
			SELECT DISTINCT stock_code FROM wish_list	
		) AS b
	</select>
	
	<select id="selectNumberOfUsers" resultType="int">
		SELECT COUNT(user_num) FROM user;
	</select>
	
	<select id="selectUserHaveHoldingWish" resultType="int">
		SELECT COUNT(user_num)
		FROM (
			SELECT DISTINCT user_num FROM my_list
			UNION
			SELECT DISTINCT user_num FROM wish_list
		) AS b
	</select>
	
	<select id="selectStockPopular" resultType="com.search.result.SearchResultDto">
		SELECT b.stock_code, b.company_name
		FROM
			(SELECT stock_code, COUNT(user_num) AS popular
				FROM wish_list
				GROUP BY stock_code
    			ORDER BY popular DESC
				LIMIT 5
    		) AS a
    	JOIN
    		(SELECT stock_code, company_name FROM stock_list) AS b
    	ON a.stock_code = b.stock_code;
	</select>
	
	<select id="selectAllUserNum" resultType="string">
		SELECT user_num FROM user
	</select>
	
	<select id="selectUserStock" parameterType="string" resultType="string">
		SELECT DISTINCT stock_code FROM my_list WHERE user_num = #{user_num}
		UNION
		SELECT DISTINCT stock_code FROM wish_list WHERE user_num = #{user_num}
	</select>
	
	<select id="selectAllStock" resultType="string">
		SELECT stock_code FROM stock_list
	</select>
	
	<select id="selectCompanyNameByStockCode" parameterType="string" resultType="string">
		SELECT company_name FROM stock_list
		WHERE stock_code = #{stock_code}
	</select>
	
	<select id="selectStockCodeListHoldingWish" resultType="com.stock.recommend.SelectedStockDto_hjlim">
		SELECT stock_code, user_num FROM my_list
		UNION
		SELECT stock_code, user_num FROM wish_list
	</select>
	
	
	
</mapper>