<?xml version="1.0" encoding="UTF-8"?>

<!-- User Account Data 관련 SQL -->
<mapper namespace="com.user.account.UserAccountMapper">
	
	<insert id="insertAcount" parameterType="com.user.account.UserAcountDto" useGeneratedKeys="true">  
	    insert into account (serial_number, user_num, balance, us, euro, jpy, yuan)
	    values (#{serial_number}, #{user_num}, #{balance}, #{us}, #{euro}, #{jpy}, #{yuan})
	</insert>

</mapper>