<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- User Stock Data 관련 SQL -->
<mapper namespace="com.user.stock.holding.UserStockHoldingMapper">
	
	<!-- 사용자의 보유 주식 전체를 SELECT -->
	<select id="selectAllUserStock" parameterType="string" resultType="com.user.stock.holding.UserStockHoldingDto">
		select stock_code, 
			(SELECT company_name FROM stock_list WHERE stock_list.stock_code = my_list.stock_code) as company_name,
			now_price, stock_cnt from my_list
		where user_num = #{user_num}
	</select>
	
	<!-- 사용자의 stock_code 보유 현황을 SELECT -->
	<select id="selectOneUserStock" parameterType="string" resultType="com.user.stock.holding.UserStockHoldingDto">
		select now_price, stock_cnt from my_list
		where user_num = #{user_num} and stock_code = #{stock_code}
	</select>
	
	<!-- 사용자의 stock_code 보유 주식 UPDATE -->
	<update id="updateOneUserStock" parameterType="com.stock.trade.StockTradeDto">
		update my_list
		set now_price = #{now_price}, stock_cnt = #{stock_cnt}
		where user_num = #{user_num} and stock_code = #{stock_code}
	</update>
	
	<!-- 사용자의 보유 주식 추가 INSERT -->
	<insert id="insertOneUserStock" parameterType="com.stock.trade.StockTradeDto">
		insert into my_list
		values (#{stock_code}, #{user_num}, #{now_price}, #{stock_cnt})
	</insert>
	
	<!-- 사용자의 보유 주식 삭제 DELETE -->
	<delete id="deleteOneUserStock" parameterType="string">
		delete from my_list
		where user_num = #{user_num} and stock_code = #{stock_code}
	</delete>
	
</mapper>